<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
	<link rel = "stylesheet" href = "css/semantic.min.css"/>
</head>
<body>
	<div class="ui comments" id='ui-comments'>
	  <h3 class="ui dividing header">Things Happening</h3>
	  <button id ='logout'>Logout</button>
  	</div>
	  <form class="ui reply form">
	    <div class="field">
	      <textarea id='content'></textarea>
	    </div>
	    <div class="ui blue labeled submit icon button" id='Add'>
	      <i class="icon edit"></i> Add Something
	    </div>
	  </form>
	<script type="text/javascript" src='js/jquery-3.2.1.min.js'></script>
	<script type="text/javascript" src='js/home.js'></script>
	<script type="text/javascript" src='js/semantic.min.js'></script>
</body>
</html>