<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
	<link rel = "stylesheet" href = "css/semantic.min.css"/>
</head>
<body>
	<div class="ui comments">
	  <h3 class="ui dividing header">Comments</h3>
	  <div class="comment">
	    <div class="content">
	      <a class="author">Matt</a>
	      <div class="metadata">
	        <span class="date">Today at 5:42PM</span>
	      </div>
	      <div class="text">
	        <p>How artistic!</p>
	      </div>
	    </div>
	  </div>
	    <div class="comment">
	    <div class="content">
	      <a class="author">Elliot Fu</a>
	      <div class="metadata">
	        <span class="date">Today at 5:42PM</span>
	      </div>
	      <div class="text">
	        <p>This has been very useful for my research. Thanks as well!</p>
	      </div>
	    </div>
	  </div>
	  <form class="ui reply form">
	    <div class="field">
	      <textarea></textarea>
	    </div>
	    <div class="ui blue labeled submit icon button">
	      <i class="icon edit"></i> Add Reply
	    </div>
	  </form>
	</div>
	<script type="text/javascript" src='js/jquery-3.2.1.min.js'></script>
	<script type="text/javascript" src='js/semantic.min.js'></script>
</body>
</html>